<label>Yacht Locations
    <select class="" id="ylocations" name="ylocations" style="display: block;">
        <option id="all-locations" value="0">All Locations</option>
        {% for location_key, location in locations %}
            {% if 'src' in location_key %}
                <option id="{{location_key}}" value="{{location_key}}">{{fn('ucwords', location)}}</option>
            {% endif %}
        {% endfor %}
    </select>
</label>